.messagesScreen {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0 20px;
  overflow-y: scroll;
  background-color: #fff;
  height: 70vh;
}

.messageWrap {
  display: flex;
  flex-direction: column;
}

.messageDateSeparator {
  justify-content: center;
  display: flex;
  margin: 10px auto 15px;
  width: 100%;
  border-bottom: 1px black solid;
}