body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f6f6f6;
}

$footer-height: 50px;

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $footer-height;
  background-color: #fff;
}

#root,
.fill {
  width: 100%;
  height: calc(100% - #{$footer-height});
}
