.headerWrp {
  background-color: white;
  padding: 1em;
  display: flex;
  justify-content: flex-start;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}