.inputWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0 10px;
  margin-top: 10px;
}

.inputArea {
  width: 82%;
  height: auto;
  min-height: 50px;
  padding: 5px;
  line-height: 1.4;
  border: 0;
  resize: none;
}

.sendMessage {
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
  height: 40px;
  color: #fff;
  background-color: #007bff;
  border: 0;
  user-select: none;
  cursor: pointer;
}